.registrationForm {
    width: 478px;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding: 0px 15px;
    height: 390px;
    max-width:100%;
}
.registrationForm form input {
    width: 65%;
    height: 42px;
    border-radius: 23px;
    border: 1px solid #ececec;
    margin-bottom: 25px;
    padding: 0 22px;
    font-size: 14px;
}
.registrationForm form input[type=submit]{
    background-color: #65529e;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 0;
    width: 75%;
    cursor: pointer;
}

.registrationForm form input[type=submit]:hover {
    background-color: #65529eba;
}

@media all and (max-width: 600px) {
    .registrationForm{
        padding: 0;
        height: auto;
    }
}