.dashboard {
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding: 0px 15px 30px;
    min-height: 390px;
    max-width: 100%;
}

h1{
    margin-bottom:0;
}
.welcome{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
.dashTableHeads{
    display: flex;
    margin-top: 30px;
}
.dashTableHeads span {
    width: 25%;
    font-size: 18px;
    color: #fff;
    background-color: #65529e;
    padding: 20px;
}
.userData {
    display: flex;
}
.userData span {
    width: 25%;
    font-size: 20px;
    padding: 12px 0 12px 0;
    border: 1px solid #f2f2f2;
    color: #333333;
    cursor: pointer;
}

@media all and (max-width: 600px) {
    h1{
        margin: 0;
    }
    .userData span {
        overflow: scroll;
    }
    .dashboard{
        padding: 0;
        width: 100%;
    }
    .dashTableHeads span {
        padding: 10px;
        font-size: 16px;
    }
    .userData span{

        font-size: 14px;
    }
    .welcome{
        font-size: 25px;
        margin-top: 5px;
    }
}