.popup{
    position: absolute;
    top: 50%;
    background: #fff;
    text-align: left;
    width: 349px;
    padding: 20px;
    border: 1px solid #ececec;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}
.popupVal {
    clear: both;
}
.popupLabel, .popupVal{
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 10px;
}
.popupLabel {
    font-weight: bold;
}
.close{
    margin-bottom: 10px;
    cursor: pointer;
}