body {
    background-color: #f2f2f2;
}
h1{
    font-size: 48px;
    padding: 27px;
    color: #65529e;
}
@media all and (max-width: 600px) {
    body{
        background-color: #fff;
    }
    h1 {
        font-size: 36px;
        padding: 17px 0 0;
    }
}